{
  "stanford_id": YOUR_SUNETID,
  "download_directory": DIRECTORY_TO_SAVE_VIDEOS_TO, 
  "convert_to_mp4": true,
  "courses":[
    "Programming Methodology",
    "Social and Information Network Analysis",
    "Programming Languages",
    "Object-Oriented Programming from a Modeling and Simulation Perspective"
  ]
}
